function Rectangle.new 0
push constant 4
call Memory.alloc 1
pop pointer 0
push argument 0
pop this 0
push argument 1
pop this 1
push argument 2
pop this 2
push argument 3
pop this 3
push pointer 0
return
function Rectangle.dispose 0
push argument 0
pop pointer 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
function Rectangle.draw 0
push argument 0
pop pointer 0
push constant 0
not
call Screen.setColor 1
pop temp 0
push this 0
push this 1
push this 2
push this 3
call Screen.drawRectangle 4
pop temp 0
push constant 0
return
function Rectangle.checkCollisions 0
push argument 0
pop pointer 0
push argument 1
call Circle.getX 1
push argument 1
call Circle.getRadius 1
add
push this 0
push constant 1
sub
gt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push argument 1
call Circle.getX 1
push argument 1
call Circle.getRadius 1
sub
push this 2
push constant 1
sub
lt
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push argument 1
call Circle.getY 1
push argument 1
call Circle.getRadius 1
add
push this 1
push constant 1
sub
gt
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push argument 1
call Circle.getY 1
push argument 1
call Circle.getRadius 1
sub
push this 3
push constant 1
sub
lt
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push constant 0
not
return
label IF_FALSE3
label IF_FALSE2
label IF_FALSE1
label IF_FALSE0
push constant 0
return
